<div>
    <h1 class="text-center py-4">Products</h1>
    <div class="container">
        <div class="row">
            {{#each arrayProductos}}
                <div class="col-md-4 mb-4"> 
                    <div class="card h-100"> 
                        <div class="card-body">
                            <h3><span class="small fst-italic text-black-50">Producto: </span>{{this.title}}</h3>
                            <p><span class="small fst-italic text-black-50">Descripcion: </span>{{this.description}}</p>
                            <p><span class="small fst-italic text-black-50">Precio: </span>${{this.price}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>




